<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Data.cv.name }} - CV</title>
    <link rel="stylesheet" href="/css/sheets-of-paper-a4.css">
</head>
<body class="ova-cv">
<!--<section class="sheet">-->
<!--    <h1>{{ .Site.Data.resume.name }}</h1>-->
<!--    <p>Email: {{ .Site.Data.resume.email }} | Website: {{ .Site.Data.resume.website }}</p>-->
<!--    <h2>Summary</h2>-->
<!--    <p>{{ .Site.Data.resume.summary }}</p>-->
<!--    <h2>Skills</h2>-->
<!--    <ul>{{ range .Site.Data.resume.skills }}<li>{{ .name }}</li>{{ end }}</ul>-->
<!--    <h2>Experience</h2>-->
<!--    {{ range .Site.Data.resume.experience }}-->
<!--    <h3>{{ .role }} at {{ .company }} ({{ .start }} – {{ .end }})</h3>-->
<!--    <p>{{ .location }}</p>-->
<!--    <ul>{{ range .description }}<li>{{ . }}</li>{{ end }}</ul>-->
<!--    {{ end }}-->
<!--    <h2>Education</h2>-->
<!--    {{ range .Site.Data.resume.education }}-->
<!--    <p><strong>{{ .degree }}</strong> — {{ .institution }} ({{ .year }})</p>-->
<!--    {{ end }}-->
<!--</section>-->
</body>
</html>
