{{- $startFmt := partial "resume/experience_date_format.html" .started -}}
{{- $endFmt := partial "resume/experience_date_format.html" .ended -}}

{{- $start := partial "resume/get_year_months_from_date_str.html" .started -}}
{{- $end := partial "resume/get_year_months_from_date_str.html" .ended -}}

{{/* Calculate inclusive month diff */}}
{{- $yearDiff := sub $end.year $start.year -}}
{{- $monthDiff := sub $end.month $start.month -}}
{{- $totalMonths := add (mul $yearDiff 12) $monthDiff | add 1 -}}

{{ printf "%s – %s (%d months)" $startFmt $endFmt $totalMonths }}
