{{- $startFmt := partial "resume/experience_date_format.html" .started -}}
{{- $endFmt := partial "resume/experience_date_format.html" .ended -}}

{{/* Parse start date */}}
{{- $startSplit := split .started "/" -}}
{{- $startYear := index $startSplit 0 | int -}}
{{- $startMonth := index $startSplit 1 | int -}}
{{- $startDate := time (printf "%04d-%02d-01T00:00:00Z" $startYear $startMonth) -}}

{{/* Parse end date */}}
{{- $endSplit := split .ended "/" -}}
{{- $endYear := index $endSplit 0 | int -}}
{{- $endMonth := index $endSplit 1 | int -}}
{{- $endDate := time (printf "%04d-%02d-01T00:00:00Z" $endYear $endMonth) -}}

{{/* Calculate inclusive month diff */}}
{{- $yearDiff := sub $endYear $startYear -}}
{{- $monthDiff := sub $endMonth $startMonth -}}
{{- $totalMonths := add (mul $yearDiff 12) $monthDiff | add 1 -}}

{{ printf "%s – %s (%d months)" $startFmt $endFmt $totalMonths }}
